/* Conteneur du formulaire style card WordPress */
.wgl_ns_container {
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 20px 20px;
    padding: 20px;
}

#wgl_ns_result_req{
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 0.375rem;
    background-color: rgb(35 132 52 / 50%);
}

.wgl_ns_error {
    background-color: rgba(255, 0, 0, 0.3);
}

.wgl_ns_formulaire_modif{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wgl_ns_container form > div{
    display: flex;
    flex-direction: column;
}

.wgl_ns_informations, .wgl_ns_details {
    min-width: 400px;
}

.wgl_ns_liste{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.25) inset;
}

.wgl_ns_option-item {
    display: inline-flex;
    align-items: center;
}

.wgl_ns_option-item:not(:last-of-type) {
    margin-bottom: 5px;
}

.wgl_ns_option-item label {
    margin-bottom: 0 !important;
}

.wgl_ns_confirmer {
    margin-top: 20px;
}

.wgl_ns_container label {
    margin-bottom: 8px;
    margin-right: 10px;
    font-size: small;
    display: block;
    margin-top: 15px;
    width: fit-content;
}

.wgl_ns_container label:first-of-type {
    margin-top: 0;
}

.wgl_ns_container input[type="text"] {
    width: 100%;
    max-width: 500px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 2;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background-color: #fff;
    color: #2c3338;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.wgl_ns_container input[type="text"]:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

.wgl_ns_container button[type="submit"], .wgl_ns_desinscrire, .wgl_ns_supp_conf_container button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    width: 95px;
    margin: 0;
    padding: 0 12px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 1px 0 #2271b1;
    vertical-align: top;
}

.wgl_ns_formulaire_modif button[type="submit"]:hover, .wgl_ns_supp_conf_container .wgl_ns_annuler {
    background: #135e96;
    border-color: #135e96;
    color: #fff;
}

.wgl_ns_formulaire_modif button[type="submit"]:focus, .wgl_ns_supp_conf_container .wgl_ns_annuler {
    background: #135e96;
    border-color: #0a4b78;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #2271b1;
    outline: 2px solid transparent;
}

.wgl_ns_formulaire_modif button[type="submit"]:active, .wgl_ns_supp_conf_container .wgl_ns_annuler {
    background: #135e96;
    border-color: #0a4b78;
    box-shadow: inset 0 2px 0 #0a4b78;
}

.wgl_ns_formulaire_supp button[type="submit"], .wgl_ns_desinscrire {
    width: 110px;
    background: #b12222;
    border-color: #b12222;
    box-shadow: 0 1px 0 #b12222;
}

.wgl_ns_formulaire_supp button[type="submit"]:focus, .wgl_ns_desinscrire {
    background: #961313;
    border-color: #780a0a;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #b12222;
    outline: 2px solid transparent;
}

.wgl_ns_formulaire_supp button[type="submit"]:active, .wgl_ns_desinscrire {
    background: #961313;
    border-color: #780a0a;
    box-shadow: inset 0 2px 0 #780a0a;
}

.wgl_ns_supp_conf_container{
    display: none;
    position: absolute;
    top: 250px;
    left: 40%;
    border: 1px solid #434968;
    border-radius: 0.375rem;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.wgl_ns_supp_conf_container.active{
    display: block;
    z-index: 999;
}

@media screen and (max-width: 500px) {
    .wgl_ns_informations, .wgl_ns_details{
        min-width: 0;
        width: 80%;
    }
    .wgl_ns_details{
        margin-top: 10px;
    }
}